<div class="main">
    <div class="container__main">

        <div class="main__content">
            <div class="block_img">
                <img src="images/phn.jpg">
            </div>
            <br>
            
            Характеристики Мобільний телефон Motorola E13 8/128GB Cosmic Black (1011479)
            <br>
            <br>
            Опис
            Удосконалена фотокамера
            Завдяки креативним функціям камери щоденні моменти перетворюються на ефектні зображення навіть в умовах
            слабкого освітлення. Роби чудові портрети та знімки крупним планом на ходу завдяки камері з роздільною
            здатністю 13 Мп та функцією швидкого фокусування.
            <br>
            <br>

            Цілісний перегляд зі стереозвуком
            Насолоджуйтесь чистим та обʼємним звучанням потужних стереодинаміків завдяки технології Dolby Atmos під час
            перегляду улюблених серіалів та фільмів на HD+ дисплеї з діагоналлю 6.5-дюйма та частотою оновлення 60 Гц.
            <br>
            <br>

            Довгий час роботи від батареї
            Слухай музику довше, спілкуйся у відеочатах до пізньої ночі, переглядай кілька серій нового серіалу поспіль
            і займайся багатьма улюбленими справами завдяки батареї з великою місткістю.
            <br>
            <br>

            Швидкий, чутливий, приголомшливий
            Транслюй відео, спілкуйся в чаті, знімай фото та залишайся на звʼязку завдяки вдосконаленому продуктивному
            процесору Unisoc T606.
        </div>
        <br>
        <br>
    </div>
</div>